{% extends 'FOSUserBundle:Profile:layout.html.twig' %}

{% block body -%}
	<div class="container">
		<h3>Список пользователей:</h3>

		<table class="table records_list table-bordered table-striped">
			<thead>
			<tr class="text-center">
				<th>Логин</th>
				<th>Вкл.</th>
				<th>Действия</th>
			</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td class="col-sm-6 control-label text-center"><a href="{{ path('admin_users__edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
					<td class="col-sm-3 control-label text-center">
						<input type="checkbox" userid="{{ entity.id }}" {% if entity.enabled %} checked="checked" {% endif %}>
					</td>
					<td class="col-sm-3 control-label text-center">
						<a href="{{ path('admin_users__edit', { 'id': entity.id }) }}" class="btn btn-info">Редактировать</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('admin_users__new') }}" class="btn btn-success">
			Добавить пользователя
		</a>
	</div>

{% endblock %}
